.form-select {
  width: 7%;
}

.toggle-container input[type=checkbox] {
  /* styling for input element */
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-container label {
  /* styling for labels */
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #1ba80e;
  border-radius: 100px;
  border: 1px white solid;
  position: relative;
}

.toggle-container label:after {
  /* styling for labels - on toggle */
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggle-container input:checked + label {
  /* conditional check while toggling */
  background: var(--color-heading);
}

.toggle-container input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.toggle-container label:active:after {
  width: 45px;
}

main div div {
  height: 250px;
}

@media (min-width: 576px) {
  main div div {
    height: 280px;
  }
}

main div div .carousel-inner {
  padding: 0 40px;
}

main div div .carousel-inner h1 {
  font-size: 40px;
}

main div div .carousel-inner p {
  font-size: 18px;
}

@media (min-width: 576px) {
  main div div .carousel-inner {
    padding: 0 70px;
  }
  main div div .carousel-inner h1 {
    font-size: 64px;
  }
  main div div .carousel-inner p {
    font-size: 28px;
  }
}

main div div .carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

#carouselSecond .carousel-inner .row .col, #carouselSecond .carousel-inner .row .col div, #carouselThird .carousel-inner .row .col, #carouselThird .carousel-inner .row .col div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselSecond .carousel-inner .row .col, #carouselThird .carousel-inner .row .col {
  padding: 18px;
}

#carouselSecond .carousel-inner .row .col .img-fluid, #carouselThird .carousel-inner .row .col .img-fluid {
  opacity: 0.5;
  width: 40%;
}

#carouselSecond .carousel-inner .row .col :first-child, #carouselSecond .carousel-inner .row .col :nth-child(3), #carouselThird .carousel-inner .row .col :first-child, #carouselThird .carousel-inner .row .col :nth-child(3) {
  font-size: 0.8rem;
  font-weight: bold;
}

#carouselSecond .carousel-inner .row .col :nth-child(4), #carouselThird .carousel-inner .row .col :nth-child(4) {
  font-size: 0.6rem;
  color: #c4c4c4;
  margin: 5% 0 2.5rem;
}

.delete {
  cursor: pointer;
}

#search input::-webkit-calendar-picker-indicator {
  display: none !important;
}

#weather_content_1 .carousel-item h1, #weather_content_1 .carousel-item img {
  margin-top: 15px;
}

#weather_content_1 .carousel-item p {
  margin-top: 110px;
}
/*# sourceMappingURL=main.css.map */